header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    height: 30px;
    padding: 20px 0;
  }
  
  .logo img {
    height: 30px;
    justify-content: right;
    align-items: center;
    margin-left: 20px;
    margin-top: 10px;
  }
  
.kata-logo{
    text-align: right;
    margin-top: -40px;
    margin-right: 40px;
}

.kata-logo h1{
    font-size: 20px;
}

.aku{
    text-align: center;
    margin-top: 150px;
}

.aku p{
    text-align: center;
    margin-right: 50px;
    margin-left: 50px;
    font-size: 18px;
    margin-top: 60px;
}

.aku h1{
    text-align: center;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 70px;
    color: #0172AF;
}